* {
  box-sizing: border-box;
}

body, html, section, main, div, aside {
  border: 0;
  margin: 0;
  padding: 0;
}

.ideabox-head {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
  justify-content: center;
}

.new-ideas-entry {
  width: 50%;
}

h1 {
  color: #00A79D;
}

h1 span, .idea-heading, #quality-rating {
  color: #6D6E71;
}

input[type="text"]{
  border: 2px solid #b7b9bb;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
}

input[type="text"]::placeholder {
  color: #939598;
}

#save-button {
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:focus {
  outline: 0;
}

.idea-storage {
  align-items: center;
  display: flex;
  font-family: 'Roboto Slab', serif;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.idea-cards {
  width: 50%;
}

#search-input {
  margin-bottom: 25px;
  margin-top: 25px;
  width: 50%;
}

.idea-heading {
  display: inline-block;
  margin-top: 15px;
  float: left;
}

.idea-delete-icon {
  display: inline-block;
  float: right;
  margin-top: 15px;
}

.idea-body {
  clear: both;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

#upvote-icon {
  margin-right: 15px;
}

#downvote-icon {
  margin-right: 15px;
}

#quality-classification {
  font-family: 'Open Sans', sans-serif;
}

.quality-rating {
  display: inline-block;
}

hr {
  color: #D1D3D4;
}
