* {
  box-sizing: border-box;
}

body, html, section, main, div, aside {
  border: 0;
  margin: 0;
  padding: 0;
}

.ideabox-head {
  align-items: center;
  background-color: #E5F3F2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Roboto Slab', serif;
  justify-content: center;
}

.new-ideas-entry {
  width: 50%;
}

h1 {
  color: #00A79D;
  font-size: 40px;
  margin-bottom: 50px;
}

h1 span, .idea-heading, .quality-rating {
  color: #6D6E71;
}

input[type="text"]{
  border: 2px solid #b7b9bb;
  margin-bottom: 15px;
  outline:none;
  padding: 5px;
  width: 100%;
}

input[type="text"]::placeholder {
  color: #939598;
}

#save-button {
  background-color: #00A79D;
  border: none;
  color: #FFFFFF;
  margin-bottom: 20px;
  width: 100%;
  cursor: pointer;
  padding: 5px;
}

#save-button:hover {
  background-color: #045E55;
}

#save-button:focus {
  outline: 0;
}

.idea-storage {
  align-items: center;
  display: flex;
  font-family: 'Roboto Slab', serif;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

#idea-output {
  width: 50%;
}

#search-input {
  margin-bottom: 25px;
  margin-top: 25px;
  outline: none;
  width: 50%;
}

.idea-heading {
  display: inline-block;
  float: left;
  margin-top: 15px;
}

.idea-delete-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  margin-top: 22px;
}

.idea-delete-icon:hover {
  content: url('FEE-ideabox-icon-assets/delete-hover.svg')
}

.idea-body {
  clear: both;
  color: #939598;
  font-family: 'Open Sans', sans-serif;
}

.upvote-icon {
  cursor: pointer;
  margin-right: 15px;
}

.upvote-icon:hover {
  content: url('FEE-ideabox-icon-assets/upvote-hover.svg')
}

.downvote-icon {
  cursor: pointer;
  margin-right: 15px;
}

.downvote-icon:hover {
  content: url('FEE-ideabox-icon-assets/downvote-hover.svg')
}

.quality-classification {
  font-family: 'Open Sans', sans-serif;
}

.quality-rating {
  display: inline-block;
}

.idea-body-input {
  clear: both;
}

hr {
  color: #D1D3D4;
}

@media screen and (max-width: 800px) {

  .new-ideas-entry,
  #idea-output,
  #search-input {
    width: 65%;
  }
}

@media screen and (max-width: 500px) {

  .new-ideas-entry,
  #idea-output,
  #search-input {
    width: 80%;
  }
}
